# Unity
*.cs linguist-language=C#
*.shader linguist-vendored=true
*.shadergraph linguist-vendored=true
*.hlsl linguist-vendored=true
*.cginc linguist-vendored=true
*.meta linguist-generated=true
*.unity linguist-generated=true
*.prefab linguist-generated=true
*.asset linguist-generated=true
